.registration{
    display: grid;
    gap: 0.3em;
    .registrationForm {
    border: 1px solid #dddddd;
    padding: 1em 2em;
    background-color: white;
    width: 22em;
    display: grid;
    gap: 1em;
    align-items: center;
    h2{
        letter-spacing: 5px;
        margin: 0px;
    }
    .loginOption{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .registerWithGoogleOption{
    a{display: flex;
        justify-content: center;
        align-items: center;
    img{
        width: 1.5em;
        margin-left: 0.5em;
    }}
}

}
.registrationFormSwtich{
    border: 1px solid #dddddd;
    padding: 0.3em 2em;
    background-color: white;
    width: 22em;
    display: grid;
    gap: 1em;
    align-items: center;
    p{
        margin: 0px;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}
}