@import "./../../../variables.scss";
.searchBarMain{
    position: relative;margin-right:1em;
    input{
    padding: 8.5px 14px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgb(175, 175, 175);
    width: 0rem;
    transition: 0.3s ease-in-out;
    visibility:hidden;
    &.activeInput{
        visibility:visible;
        width: 15rem;
        transition: 0.3s ease-in-out;
    }
    &:focus{
        outline: none;
        border-color: $mainColor;
    }
    }
.searchIcon {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    right: 3px;
    top: 5px;
    outline: none;
    svg {
        fill:$mainColor;
    }
}
}

