@import "./../../../variables.scss";

    .socialMediaMain{
        display: flex;
        align-items: flex-start;
        button {
            background-color: transparent;
            border-radius: 50%;
            border: none;
            outline: none;
            color: $mainDarkShade;
            margin-top: 0.4rem;
            margin-left: -15px;
            svg {
              font-size: 24px;
            }
          }
    }
    .buttonSave{
        display: flex;
        justify-content: center;
    }

    
