$mainColor: #459d7c;
$mainDarkShade: #2F8968;
$redShade: #DA1B2B;
$buttonPulse: #a6f0d5;
$blackShade: #252628;
$maintextColor: #212529;
$baige: #e8ddbf;
$lightShadeGreenFocus: #8cd3b9;
$backgroundModalColor: #459d7dc5;
$greyShadeText:rgb(121, 121, 121);