@import "./../../../variables.scss";
.MuiAutocomplete-popper{
    z-index: 11111111 !important;
}

.addressContent{
div{
    margin-bottom: 0.5rem;
}
    .cityAndState{
        display: flex;
        div:first-child{
            margin-right: 0.5rem;
        }
    }
    .zipAndCountry{
        display: flex;
        div:first-child{
            margin-right: 0.5rem;
        }
    }
}

.branchAddress{
display: flex;
align-items:flex-start ;
.branch{
    width:100%;
}
      button.AddButton, .RemoveButton {
        background-color: transparent;
        border-radius: 50%;
        border: none;
        outline: none;
        color: $mainDarkShade;
        margin-top: 0.4rem;
        margin-left: -15px;
        svg {
          font-size: 24px;
        }
      }
    
  }