@import './variables.scss';
h1, h2, h3, h4, p {
  // color : $blackShade;
  color : $maintextColor;
}
button, a{
  cursor: pointer;
}

a{
  color: $mainColor;
  text-decoration: none;
  &:hover{
    color: $mainDarkShade;
  }
}

body{
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.content{
  padding: 0.5em 1em;
  .allCards, .myHolder, .cardOpenView, .myCards, .sharedWith{
    margin: 3.5em 0.5em;
  }
}